[submodule "frontend/ums-frontend"]
	path = frontend/ums-frontend
	url = git@github.com:thanatadcs/scalable-ums-frontend.git
[submodule "backend/ums-backend"]
	path = backend/ums-backend
	url = git@github.com:thanatadcs/scalable-ums-backend.git
